.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container h1 {
  margin: 0;
  font-style: italic;
  text-align: center;
}

.container .footnote {
  margin: 0;
  font-size: 0.7rem;
}

.heart-wrapper {
  position: relative;
  width: 400px;
  height: 400px;
}

.heart {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.heart-wrapper .heart-text {
  position: absolute;
  top: 150px;
  left: 25%;
  width: 50%;
  z-index: 2;
  text-align: center;
  color: white;
}

.heart-left {
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.heart-right {
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
}

/* Overlay text */
.text {
  position: absolute;
  top: 25%;
  width: 50%;
  text-align: center;
  font-weight: bold;
  color: white;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.text.left {
  left: 2rem;
}

.text.right {
  right: 2rem;
}

.poem {
  position: absolute;
  top: 20%;
  width: 220px;
  height: 260px;
  padding: 10px;
  text-align: center;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  border: 2px solid black;
  border-radius: 20px;
  background: white;
  align-content: center;
}

.poem.right {
  left: 98%;
}

.poem.left {
  right: 100%;
}

.poem p {
  color: black;
  font-size: 0.9rem;
  margin: 0;
}
