body {
  margin: 0;
  background-color: #e9d0bc;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Samsung Galaxy Z Flip 4 portrait mode */
@media only screen and (min-width: 360px) and (max-width: 840px) and (orientation: portrait) {
  /* Your styles here */
  body {
    min-height: 100vh;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
  }
}
